.hi {
    color: hotpink;
}

.inputFieldWrapper {
    display: flex;
    width: 100%;
    border-radius: 0.25rem;
    overflow: hidden;
}

/* &.outline {
    border: 0.0625rem solid var(--ion-color-medium-shade);
}

@mixin borderless {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0.125rem solid;
}

&.primary {
    @include borderless;

    border-bottom-color: var(--ion-color-primary);
}

&.secondary {
    @include borderless;

    border-bottom-color: var(--ion-color-secondary);
} */

/* .label {
    display: block;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0.5rem;
} */

.input {
    background-color: green;
    /* --padding-start: 0.5rem;
    --padding-top: 0.65rem;
    --padding-bottom: 0.5rem; */

}

.withIcon {
        width: 87.6%;
        display: inline-flex;
    }


    .RGAAInput {
        background-color: orange;
    }
.iconBtn {
    position: relative;
    display: inline-flex;
    padding: 0.6rem 0.32rem;
    background-color: #fff;
    font-size: 1.3rem;
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #f4f4f4;
}

.xIcon {
    border-radius: 50%;
    background-color: ;
    position: relative;
    color: rgb(79, 75, 74);
    background-color: white;
    text-align: center;
    right: 1rem;
    top: 0.8rem;
    z-index: 1000;
    cursor: pointer;
}


/* span.input-footer-copy {
font-size: 0.75rem;
position: relative;
line-height: 1;
top: 0.18rem;

&.error {
    font-weight: bold;
    color: var(--ion-color-danger-shade);

    &::before {
        content: '⚠ ';
        vertical-align: sub;
        font-size: 1.15rem;
    }
}
} */

